[core]
	editor = nvim
    pager = delta
	excludesfile = ~/.gitignore_global

[delta]
    side-by-side = true
    hunk-header-style = omit
    syntax-theme = ansi
    zero-style = normal
    file-style = bold brightwhite
    file-decoration-style = "#444444" ul ol
    line-numbers-left-style = "#444444"
    line-numbers-right-style = "#444444"

[include]
    path = ~/.gitconfig.local
[user]
	name = Ryan Scofield
	email = ryan.scofield@alliedtelesis.co.nz
[stgit]
	sender = Ryan Scofield <ryan.scofield@alliedtelesis.co.nz>
