local Config = {}

require("gruvbox").setup({
    overrides = {
        SignColumn = { bg = "none" },
        CursorLineSign = { bg = "none" },
        CursorLineNr = { bg = "none" },
    }
})

vim.cmd.colorscheme("gruvbox")

return Config
