local Config = {}

require("gruvbox").setup({
    palette_overrides = {
        bright_green = "#98971a",
    },

    overrides = {
        SignColumn = { bg = "none" },
        CursorLineSign = { bg = "none" },
        CursorLineNr = { bg = "none" },
    }
})

vim.cmd.colorscheme("gruvbox")

return Config
